Library/metadata/
Library/CurrentMaximizeLayout.dwlt
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Library/ScriptAssemblies/BuiltinAssemblies.stamp
Library/ShaderIncludePaths
Blind Chess.sln
Blind Chess.userprefs
Assembly-CSharp.csproj
Library/ShaderCache/
Temp/
Library/EditorInstance.json
